/.deps
/.libs
/Makefile*
/modules/
/acinclude.m4
/aclocal.m4
*.cache
/build/
*.la
*.lo
*~
*.log
*.guess
/config.h
*.in
*.nice
*.status
*.sub
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/run-tests.php
/configure
